/* Styling for dynamic content on Map.html and Hardware.html

/* ----  cards ----- */

#card-shelf {
    /* margin: auto; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 20%));
    grid-gap: 0px;
    padding-bottom:1rem;
}

@media screen and (max-width: 480px) {
  #card-shelf {
    grid-template-columns: repeat(auto-fit, minmax(120px, 50%));
    grid-gap: 0px;
}
}

.card {
  display:grid;
  background: white;
  border: 0.1px solid lightslategray;
  text-align: left;
}

.card img{
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.card p {
  margin: 0;
}

.card-info {
  display: grid;
  align-content: space-between;
  padding: 0 0.5rem;
}

.card-info .title{
  display: inherit;
}

.card-info .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.card-info .vendor {
  display: inherit;
  color: #667788;
}

.card-info .option {
  display: inherit;
  font-size: 0.8rem;
}

.card-info .vendor img {
  margin: 8px;
  width: 40px;
  aspect-ratio: 1 / 1;
  border-radius: 20px;
}



/* ---- leaflet.js map ---- */

#map { 
  height: 400px; 
  z-index: 1;
}

#store-shelf {
  column-count: 3;
}

.no-deco {
  line-height: 2em;
  list-style-type: none; 
}
.no-deco a {
  text-decoration: none;

}

@media screen and (max-width: 480px) {
  #store-shelf {
    column-count: 1;
  }
  #map {
    height: 240px;
  }
}