/*
    Special styling for filter buttons used on gallery.html
*/


.gallery img {
    aspect-ratio:1/1;
    object-fit: cover;
}

.gallery-filters > button {
    background: inherit;
}

.gallery-filters > button:hover {
    background: inherit;
}

.gallery-filters > button.active {
    background: hsl(0, 0%, 92%);
}


    
    