<p class="disclosure">
  This page contains affiliate links, meaning I make a commission for qualified
  purchases, at no cost to you. See <a href="/about.html#disclosures"
    >Disclosures</a
  > for more information.
</p>
