<span class="discount">
  <slot />
</span>

<style is:global>
  span.discount p {
    border-radius: 4px;
    font-size: 0.9rem;
    text-align: center;
    padding: 0.25rem 0.325rem;
    background: var(--discount);
    border-color: var(--discount);
  }
</style>
