---
export type Props = {
  header: string;
};

const { header } = Astro.props;
---

<section>
  <header>
    <h2 style="font-size: 1.5rem;">{header}</h2>
  </header>
  <div class="content little-headers">
    <slot />
  </div>
</section>

<style is:global>
  .little-headers h3 {
    font-size: 1.1rem;
  }
</style>
